h1 {
  font-size: 100;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

body {
  background-color: #d8d3c6;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.data {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

.data1 {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.name {
  padding-left: 300px;
  padding-right: 50px;
}

.description {
  padding-left: 50px;
  padding-right: 300px;
}

.title {
  padding-top: 50px;
}

.icon {
  width: 50px;
  height: 50px;
}

#d {
  height: 400 px;
  width: 200 px;
  padding: 100px;
  text-align: center;
}

.me {
  border-radius: 50%;
  width: 200px;
  height: 220px;
}

.carouselWrapper {
  position: absolute;
  left: 50%;
  margin-left: -250px;
}

.pics {
  padding-left: 10px;
  padding-right: 10px;
}
